# .github/workflows/deploy.yml

name: Deploy to Vercel

on:
  push:
    branches:
      - master # Certifique-se de que esta é a branch correta (master ou main)
  pull_request:
    branches:
      - master # Certifique-se de que esta é a branch correta (master ou main)
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '20'

      - name: Install dependencies
        run: yarn install --immutable # Ou `npm ci`

      - name: Build Nuxt.js Application
        run: yarn build # Ou `npm run build`

      # ------ AÇÃO DA VERCEL SUBSTITUÍDA POR COMANDOS DO VERCEL CLI ------
      - name: Deploy to Vercel using CLI
        run: |
          yarn global add vercel@latest # Instala o Vercel CLI globalmente
          
          # Puxa a configuração do projeto Vercel para o diretório local
          # O --token é necessário para autenticação, --yes para respostas automáticas
          # --environment=production indica para puxar as variáveis de ambiente de produção
          vercel pull --yes --token=${{ secrets.VERCEL_TOKEN }} --environment=production
          
          # Constrói o projeto usando o Vercel CLI, que usa as configurações do vercel.json e .env.production
          # --prod garante que o build seja otimizado para produção
          vercel build --prod --token=${{ secrets.VERCEL_TOKEN }}
          
          # Faz o deploy do build já existente (pré-construído)
          # --prebuilt indica que o build já foi feito e deve ser usado
          # --prod faz o deploy para produção
          # --team-id e --project são essenciais para identificar o destino do deploy
          vercel deploy --prebuilt --prod \
            --token=${{ secrets.VERCEL_TOKEN }} \
            --project=${{ secrets.VERCEL_PROJECT_ID }}
        env:
          # Estas variáveis de ambiente são passadas para o ambiente do shell do `run` step
          VERCEL_TOKEN: ${{ secrets.VERCEL_TOKEN }}
          VERCEL_ORG_ID: ${{ secrets.VERCEL_ORG_ID }}
          VERCEL_PROJECT_ID: ${{ secrets.VERCEL_PROJECT_ID }}
      # --------------------------------------------------------------------